html, body {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
    color: #ffa500;
}

#uInput {
	height: 70px;
    resize: none;
    background-color: #444444;
    border-color: #ffa500;
    color: white;
	width: 98%;
    border-radius: 5px;
    font-weight: bold;
}

#uInput:focus {
    border-color: #ffffff;
    outline: none !important;
}

#getResult {
	height: 50px;
    border-color: #ffa500;
    background-color: #ffa500;
    color: black;
    border-radius: 5px;
	width: 98%;
    font-size: 2rem;
}